div {
    font-size: 32px;
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    margin-bottom: 10px;
}

.div-fixa {
    color: red;
    right: 10px;
    bottom: 10px;
    position: fixed;
    border: 2px solid red;
}