body {
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.secao {
    width: 100%;
    text-align: center;
}

.topo {
    font-size: 18px;
    color: #d59600;
    height: 139px;
    background-color: black;
    position: fixed;
    border-bottom: 1px solid #d5960054;
    padding: 10px;
}

.secao-paragrafo {
    margin-top: 15px;
    margin-bottom: 25px;
}

.secao-paragrafo a {
    color: #d59600;
    text-decoration: none;
    margin: 0 15px;
    border-bottom: 2px solid #d59600;
}

.banner img {
    width: 100%;
    max-height: 567px;
}

h3 {
    color: #d59600;
    margin: 30px 0;
}

#sobre img {
    width: 500px;
}

#consultores img {
    width: 500px;
}

#sobre p,
#consultores p {
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
    margin-left: 5px;
    margin-bottom: 60px;
}

iframe {
    width: 100%;
    margin-bottom: 10px;
}

span {
    color: #d59600;
    font-weight: bold;
}

.rodape {
    margin-bottom: 79px;
}

.rodape p {
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 18px;
}

.rodape a {
    color: #d59600;
    text-decoration: none;
    border-bottom: 2px solid #d59600;
}