body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: red;
    margin: 1.5em 0;
}

h3 {
    font-size: 23px;
    font-weight: 800;
}

.container {
    width: 700px;
    border: 3px solid red;
    margin: 3em auto;
    text-align: left;
    position: relative;
    padding: 35px;
}

.ingredientes,
.btn-fazer-pedido {
    width: 700px;
    font-size: 18px;
}

.ingredientes {
    width: 89%;
    margin-bottom: 40px;
}

.btn-fazer-pedido {
    color: rgb(255, 247, 0);
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    bottom: -23px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.icone {
    width: 60px;
    height: 40px;
    font-size: 25px;
    color: rgb(255, 247, 0);
    background-color: red;
    font-weight: 500;
    border: 10px solid red;
    border-radius: 50%;
    top: -45px;
    left: -35px;
    position: absolute;
    text-align: center;
    padding-top: 10px;
}