body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner-parallax1,
.conteiner-parallax2,
.conteiner-parallax3,
.conteiner-parallax4,
.conteiner-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.secao-topo {
    padding: 40px;
    background-color: #604829;
    position: relative;
}

.icone {
    width: 90px;
    position: absolute;
    left: 200px;
    top: -5px;
}

.conteiner-topo {
    position: absolute;
    right: 250px;
    top: 25px;
}

.conteiner-topo a {
    color: #c4a47c;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 1px #000000;
    padding: 0 10px;
}

/* ----------------------------------------------------- */

.conteiner-parallax1 {
    background-image: url(assets/parallax-imagem1.png);
    height: 100vh;
}

.secao-banner h1 {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;

    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", serif;
    font-size: 100px;
}

/* ---------------------------------------------------- */

.secao-informacoes {
    text-align: center;
}

.conteiner-texto h2 {
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
    font-weight: 500;
    color: #c4a47c;
}

.conteiner-texto p {
    margin: 0 auto;
    width: 900px;
    max-width: 90vw;
    color: #666;
    font-family: 'Lato', sans-serif;
    line-height: 35px;
    padding-bottom: 30px;
}

/* ---------------------------------------------------- */

.conteiner-parallax2 {
    background-image: url(assets/parallax-imagem2.jpg);
    height: 50vh;
}

.secao-informacoes h3 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}

/* ---------------------------------------------------- */

.conteiner-parallax3 {
    background-image: url(assets/parallax-imagem3.jpg);
    height: 50vh;
}

/* ----------------------------------------------------- */

.conteiner-parallax4 {
    background-image: url(assets/parallax-imagem4.png);
    height: 100vh;
}

.secao-contatos {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
}

.secao-contatos h2 {

    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;

    width: 500px;
    padding: 5px;
    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}

iframe {
    width: 80%;
    height: 60%;

    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
}

.secao-contatos .box-contatos {
    position: absolute;
    top: 79%;
    left: 0;
    right: 0;
    margin: auto;

    width: 500px;
    background-color: #604829;
}

.secao-contatos p,
.secao-contatos h2 {
    text-shadow: 4px 4px 4px #000000;
}

/* ----------------------------------------------------- */

.secao-horarios {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.conteiner-parallax5 {
    background-image: url(assets/cafeteria.jpg);
    height: 100vh;
}

.conteiner-parallax5 h2 {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    letter-spacing: 5px;
}

.lista-horarios {
    max-width: 768px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    right: 0;
    left: 0;
    list-style: none;
}

.lista-horarios li {
    position: relative;
}

.lista-horarios li div {
    width: 500px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
}

.lista-horarios li span {
    color: #c4a47c;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.lista-horarios li p {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
}

/* ----------------------------------------------------- */
.secao-rodape {
    background-color: #000000;
    position: relative;
    height: 100px;
    text-align: center;
    padding: 20px;
}

.secao-rodape a {
    background-image: url(assets/seta-para-cima.png);
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -15%;
    right: 50px;
}

.secao-rodape p {
    color: #fff;
}

.secao-rodape span {
    color: #c4a47c;
}

/* font-family: 'Fraunces', serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif; */