body {
    background-color: rgb(16, 16, 99);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

img {
    width: 300px;
}

.container {
    background-color: #fafafa;
    margin: 10px auto;
    width: 300px;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 6px 6px 10px 0px rgb(87, 30, 219);
}

h1 {
    font-size: 30px;
    text-align: left;
}

p {
    font-size: 16px;
    width: 300px;
    margin: 10px auto;
    text-align: left;
}