body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.secao-topo {
    width: 100%;
    max-width: 1024px;
    padding: 35px 0;
    margin: auto;
    position: relative;
}

.logo {
    max-width: 35%;
    position: relative;
}

.logo div {
    display: inline;
    position: absolute;
    left: 30%;
}

.logo img {
    width: 80px;
}

.secao-topo p {
    font-size: 16px;
    color: #2f86d6;
    font-weight: 500;
    margin: 0;
}

.secao-topo h1 {
    font-size: 32px;
    margin: 0;
}

.secao-topo .links {
    position: absolute;
    top: 40%;
    right: 0;
}

.links a {
    margin-left: 15px;
    color: #233032;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

/* -------------------------------------------------------- */

.secao-banner {
    width: 100%;
    height: 400px;
    background-color: #2f86d6;
    padding: 180px 0;
}

.secao-banner .wrapper {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.secao-banner .container {
    width: 470px;
    max-width: 45%;
    color: #fff;
    position: absolute;
    top: 10%;
}

.secao-banner img {
    position: absolute;
    left: 50%;
    top: -5%;
}

.container h2 {
    font-size: 28px;
}

.container p {
    width: 450px;
    font-size: 16px;
    line-height: 30px;
}

/* -------------------------------------------------------- */

.secao-primeiro-anuncio {
    background-color: #233032;
    width: 100%;
    height: 150px;
    padding: 30px 0;
}

.secao-primeiro-anuncio .container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.secao-primeiro-anuncio .textos {
    position: absolute;
    color: #fff;
    top: 40px;
}

.secao-primeiro-anuncio .botao {
    background-color: #2f86d6;
    padding: 20px;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 5px;
}

.secao-primeiro-anuncio .botao img {
    width: 15px;
    margin-right: 10px;
}

.secao-primeiro-anuncio .botao a {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.secao-primeiro-anuncio div h3 {
    font-size: 24px;
    margin: 0;
}

.secao-primeiro-anuncio div p {
    font-size: 16px;
    margin: 0;
}

/* -------------------------------------------------------- */

#informacoes {
    width: 100%;
    padding: 100px 0;
    max-width: 1024px;
    margin: 0 auto;
}

#informacoes h2 {
    font-size: 32px;
    padding-bottom: 100px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

#informacoes span {
    font-size: 32px;
    color: #2f86d6;
}

#informacoes .imagens {
    width: 100px;
}

#informacoes table {
    text-align: center;
}

#informacoes th {
    font-size: 18px;
    padding: 10px;
}

#informacoes td {
    font-size: 16px;
    padding-top: 10px;
}

/* -------------------------------------------------------- */

.secao-planos {
    width: 100%;
    background-color: #f1f3f7;
}

#planos {
    width: 100%;
    max-width: 1024px;
    min-width: 500px;
    margin: 0 auto;
    padding: 100px 0;
}

.secao-planos span {
    color: #2f86d6;
}

.secao-planos h2 {
    font-size: 32px;
    padding-bottom: 30px;
    text-align: center;
}

.sombreado {
    width: 1024px;
    text-align: center;
    box-shadow: 0px 0px 50px 15px #2f86d6;
}

.sombreado thead h3 {
    font-size: 18px;
}

.sombreado thead th {
    background-color: #fff;
}

.sombreado thead th p {
    width: 140px;
    font-size: 13px;
    color: #a89f9f;
    font-weight: 500;
    margin: 0 auto;
    padding-bottom: 20px;
}

.secao-planos img {
    width: 100px;
    margin: auto;
    padding: 5px 0;
}

.sombreado tbody {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
}

.sombreado tbody .linha-impar {
    background-color: #f1f3f7;
}

.sombreado tbody .linha-par {
    background-color: #f6f6f6;
}

/* -------------------------------------------------------- */

.secao-segundo-anuncio {
    background-color: #2f86d6;
    width: 100%;
    height: 150px;
    padding: 30px 0;
}

.secao-segundo-anuncio .container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.secao-segundo-anuncio h2 {
    max-width: 600px;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: 35px;
}

.secao-segundo-anuncio .botao {
    background-color: #233032;
    position: absolute;
    padding: 20px;
    top: 40px;
    right: 0px;
    border-radius: 5px;
}

.secao-segundo-anuncio .botao a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

/* -------------------------------------------------------- */

.rodape {
    width: 100%;

    text-align: center;
    margin: 0 auto;
}

.rodape .logotipo {
    height: 150px;
    padding: 20px 0;
}

.rodape .logotipo .wrapper {
    position: relative;
    width: 350px;
    height: 100%;
    margin: auto;
}

.rodape .logotipo img {
    width: 90px;
    position: absolute;
    left: 0;
    bottom: 5%;
}

.rodape .logotipo .texto {
    text-align: left;
    position: absolute;
    left: 35%;
    bottom: 15%;
}

.rodape .logotipo div h1 {
    font-size: 32px;
    margin: 0;
}

.rodape .logotipo div p {
    font-size: 16px;
    color: #2f86d6;
    font-weight: 500;
    margin: 0;
}

.rodape .contatos {
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 20px;
}

.rodape .fundo-rodape {
    box-sizing: border-box;
    width: 100%;
    background-color: #f1f3f7;
    padding: 10px;
    font-weight: 600;
}

.rodape .fundo-rodape span {
    color: #2f86d6;
}