 body {
     margin: 0;
     font-family: Tahoma;
     background-color: #fafafa;
 }

 .secao {
     text-align: center;
     padding: 30px 0;
 }

 .paragrafo {
     text-align: justify;
     padding: 20px;
     width: 980px;
     margin: 10px auto;
 }

 /* 1° seção */
 .topo {
     background-color: #b0ddfc;
 }

 .topo img {
     width: 150px;
 }

 .paragrafo-topo {
     margin-top: 0px;
     margin-bottom: px;
     text-align: center;
 }

 .link-topo {
     font-size: 18px;
     color: #242427;
     margin: 0 10px;
     text-decoration: none;
     border-bottom: 2px solid #242427;
 }

 /* 2° seção */
 .banner {
     margin-top: 5px;
     margin-bottom: 0;
 }

 /* 3° seção */
 h1 {
     margin-top: 0;
     margin-bottom: 5px;
 }

 h2 {
     font-size: 20px;
     font-weight: normal;
     color: #1d80c1;
     margin-top: 0;
 }

 .imagem {
     width: 400px;
 }

 .texto-azul {
     color: #1d80c1;
 }

 .paragrafo-sobre {
     line-height: 30px;
     margin-bottom: 0;
     padding-bottom: 0;
     width: 900px;
 }

 /* 4° seção */
 h3 {
     font-size: 24px;
 }

 .servico,
 .contato {
     background-color: #1d80c1;
     color: #fafafa;
 }

 .paragrafo-servico {
     font-size: 20px;
     line-height: 42px;
     text-align: center;
     width: 900px;
 }

 .lista-servico {
     width: 135px;
     margin: 5px auto 40px;
 }

 .item-lista-servico {
     font-size: 18px;
     line-height: 42px;
 }

 .texto-amarelo {
     color: #cedd2a;
 }

 /* 5° seção */
 .img-corretores {
     width: 550px;
     margin: 10px 0;
 }

 .subtitulo-azul {
     color: #1d80c1;
 }

 .paragrafo-corretores {
     line-height: 25px;
     margin: auto;
     width: 870px;
 }

 /* 6° seção */
 iframe {
     width: 900px;
     height: 350px;
 }

 .paragrafo-contato {
     font-size: 18px;
     background-color: black;
     width: 1000px;
     margin: 30px auto;
 }

 .link-contato {
     border-radius: 6px;
     color: #1d80c1;
     background-color: #fafafa;
     padding: 4px;
 }

 span {
     font-weight: bold;
 }