body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
}

.cabecalho .cabecalho-titulo {
    color: #fff;
    font-size: 23px;
    background-color: #f97100;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.cabecalho .cabecalho-imagem {
    width: 100%;
}

.descricao {
    width: 1024px;
    margin: 0 auto;
    line-height: 30px;
}

.descricao h1 {
    text-align: center;
    padding: 15px;
}

.area {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.cards {
    display: flex;
}

.cards .card {
    font-size: 18px;
    color: #fff;
    background-color: #ffb500;
    text-align: center;
    line-height: 30px;
    margin: 0 20px;
    padding: 10px;
    width: 1000px;
    height: 420px;
    border-radius: 10px;
}

.cards .card-sombra {
    box-shadow: 0 0 20px 10px #f97100 inset;
}

.cards .card img {
    width: 200px;
    height: 200px;
}

.cards .card .informacoes {
    text-align: justify;
}

.galeria {
    overflow-x: scroll;
    display: flex;
}

.galeria-imagem {
    width: 300px;
    box-shadow: 5px 5px 10px 1px rgb(101, 98, 98);
    margin: 12px;
}

.site {
    margin: 30px auto;
}

.rodape {
    color: #fff;
    font-size: 23px;
    background-color: #f97100;
    text-align: center;
    margin: 0;
    padding: 15px;
}